src/**/__tests__
src/**/*.test.js
src/**/*.spec.js
tests/
coverage/
.github/
docs/
assets/
src/main/
src/renderer/
.eslintignore
.eslintrc*
.prettierignore
.prettierrc*
.gitattributes
tsconfig.json
vitest.config.js
.npmignore
.npmrc
.gitignore
pnpm-lock.yaml
pnpm-workspace.yaml
